Flask==3.0.3
matplotlib==3.9.2
numpy==2.1.2
opencv_python==4.10.0.84
Pillow==10.4.0
Requests==2.32.3
scikit-image==0.24.0
tqdm==4.66.5

-f https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cu121
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.18.0+cu121 
