gradio==4.44.0
matplotlib
numpy
opencv_python==4.9.0.80
Pillow==10.4.0
scikit-image

-f https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cu121
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.18.0+cu121 
tqdm==4.66.4

