{% extends 'base.html' %} {% block head %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

<script src="../static/js/svg-pen-sketch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.0.1/math.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<title>{{ title }}</title>
{% endblock %} {% block body %}
<div class="top-container"></div>

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<div class="text-container" id="top-output">
  <div class="task-msg-div" style="">
    <div class="task-big">Factual Labeling</div>
    <text>Please enter the file name of your CNN model.<br>
    If you leave blank, a default pretrained ResNet18 model will be loaded for you. </text>
  </div>
</div>


<div class="text-container" id="user_input">
    <form action="index" method="post">
        <label for="model_name">File name of the saved model</label>
        <br>
        <input type="text" name="model_name" value="">
        <br>
        <input type="submit" value="Load">
    </form>
</div>

<style>
  #hidden-canvas-container {
    display: none;
  }

  body {
    -moz-user-select:none;
    -webkit-user-select:none;
  }

  #verify-code {
    -moz-user-select: text;
    -webkit-user-select: text;
  }

  .top-msg-div {
    margin-left: 409px;
    margin-bottom: -12px;
  }

  .top-msg-div img {
    width: 20px;
    height: 20px;
  }

  .task-msg-div {
    margin-bottom: 20px;
  }

  .task-msg-div text {
    font-size: 12pt;
  }

  .task-big {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10px;
  }
</style>

{% endblock %}