{% extends 'base.html' %} {% block head %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

<script src="../static/js/svg-pen-sketch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.0.1/math.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<title>{{ title }}</title>
{% endblock %} {% block body %}
<div class="top-container"></div>

<div class="text-container" id="top-output">
  <div class="task-msg-div" style="">
    <div class="task-big">Factual Labeling</div>
    <text>Please select the models for your task.<br>
    The default option is a pretrained ResNet18 model. <br>
    If you don't see your model here, please make sure it is in the <i>model</i> folder, <br>
    and the file name is ended with <i>'.pt'</i> or <i>'.pth'</i></text>
  </div>
</div>


<div class="text-container" id="user_input">
    <form action="index" method="post">
        <label for="model_name">Choose your Visual Prompted Model </label>
        <br>
        <select name="model_name">
            <option value=""> Select your model </option>
            {% for file in models %}
            <option value="{{ file }}"> {{ file }} </option>
            {% endfor %}
        </select>
        <br><br>
        <label for="model_name">Choose your Non-Visual Prompted Model </label>
        <br>
        <select name="model_name_non_visual">
            <option value=""> Select your model </option>
            {% for file in models %}
            <option value="{{ file }}"> {{ file }} </option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Load">
    </form>
</div>

{% for message in get_flashed_messages() %}
<h3 style="color:red">{{ message }}</h3>
{% endfor %}

<style>
  #hidden-canvas-container {
    display: none;
  }

  body {
    -moz-user-select:none;
    -webkit-user-select:none;
  }

  #verify-code {
    -moz-user-select: text;
    -webkit-user-select: text;
  }

  .top-msg-div {
    margin-left: 409px;
    margin-bottom: -12px;
  }

  .top-msg-div img {
    width: 20px;
    height: 20px;
  }

  .task-msg-div {
    margin-bottom: 20px;
  }

  .task-msg-div text {
    font-size: 12pt;
  }

  .task-big {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10px;
  }
</style>

{% endblock %}