{% extends 'base.html' %} {% block head %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

<script src="../static/js/svg-pen-sketch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.0.1/math.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<title>{{ title }} ({{ task_title }})</title>
{% endblock %} {% block body %}
<div class="top-container"></div>

<div class="text-container" id="top-output">
  <div class="task-msg-div" style="{{ task_fact_display }}">
    <div class="task-big">Factual Labeling</div>
    <text>Please draw the area(s) that you think can help identify the gender of the person in the image.<br>
    (In cases where you believe that the gender of the person is not identifiable, please directly click <span style="font-weight: bold; background-color: rgb(0, 76, 255);">'Submit and go to the next'</span> button without making annotation)</text>
  </div>
  <div class="task-msg-div" style="{{ task_counter_display }}">
    <div  class="task-big">Counterfactual Labeling</div>
    <text>Please draw the area(s) that you think are irrelavent to the gender of the person in the image.<br>
    (In cases where you believe there is no identifiable objects beside the person, please directly click <span style="font-weight: bold; background-color: rgb(0, 76, 255);">'Submit and go to the next'</span> button without making annotation)</text>
  </div>
  <div class="top-msg-div" style="{{ draw_display }}">
    <text>Use right click <img src="../static/right-mouse.png" alt="Right Click" /> to erase strokes, or use </text>
    <button class="btn small-btn reset-btn" onclick="resetDrawing();">Remove All</button>
  </div>

  <p id="text-scene">
    Image
    <span style="font-size: 30px"
      >{{ current_order }}/{{ len_idx }}</span
    > <span id="verify-code" style="font-size: 30px; color: yellow; margin-left: 307px;">{{finish_text}}</span>
  </p>
</div>

<div class="img-0-container" style="{{ draw_display }}">
  <div id="img-0">
    <img class="img" src="{{ img_paths[0]}}" alt="img_0" />
  </div>
</div>

<div class="img-container" style="{{ draw_display }}">
  <div class="draw-div" id="draw-div-1">
    <img class="img_base" src="{{ img_paths[0]}}" alt="img_0" />
    <svg class="draw-svg">
    </svg>
  </div>

  <div class="draw-control">
    <text># of strokes on screen: <tspan id="stroke-count">0</tspan></text>
  </div>
</div>

{% if form_display == True %}

<div class="left-container">
</div>

<div class="question-container">
  <form action="/result" method="POST" id="form-reason">
    {{ form.hidden_tag() }}
    <div class="btn-container">
    <input accesskey="d" type="button" class="btn" id="submit-btn" onclick="submitBtn();" value="Submit and go to the next">
    </div>
  </form>
  {% endif %}
  
</div>

<div id="hidden-canvas-container"></div>

<script class="draw-input-form">
  d3.select("#form-reason")
    .append("input")
    .attr("type", "hidden")
    .attr("id", "input-storedata")
    .attr("name", "crop_input")
    .attr("value", "skipped");
</script>

<script>
  // Set matrix dimension (by img px size)
  // const img_h = 224;  // Y, height, n_row
  // const img_w = 224;  // X, width, n_col
  // var input_storedata = math.zeros(img_h, img_w);

  function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
  }

  function svg2png () {
    d3.select("#hidden-canvas-container").selectAll("*").remove();

    d3.select("#hidden-canvas-container")
      .append("canvas")
      .attr("id", "hidden-canvas")
      .attr("height", "{{drawing_pad_size[0]}}px")
      .attr("width", "{{drawing_pad_size[1]}}px")

    d3.select("#hidden-canvas-container")
      .append("div")
      .attr("id", "png-container")

    var svgString = new XMLSerializer().serializeToString(document.querySelector('svg'));
    var canvas = document.getElementById("hidden-canvas");
    var ctx = canvas.getContext("2d");
    var DOMURL = self.URL || self.webkitURL || self;
    var img = new Image();
    var svg = new Blob([svgString], {type: "image/svg+xml;charset=utf-8"});
    var url = DOMURL.createObjectURL(svg);
    img.onload = function() {
        ctx.drawImage(img, 0, 0);
        var png = canvas.toDataURL("image/png");
        document.querySelector('#png-container').innerHTML = '<img id="hidden-png" src="'+png+'"/>';
        DOMURL.revokeObjectURL(png);
    };
    img.src = url;
  }

  function updateStrokeAmnt() {
      let input_storedata = "";
      let strokeAmnt = document.querySelectorAll("path").length;
      document.querySelector("#stroke-count").innerHTML = strokeAmnt;

      for (let i = 0; i < strokeAmnt; i++) {
        input_storedata += d3.selectAll("path")["_groups"][0][i]["outerHTML"];
      }
      // document.getElementById("input-storedata").value = input_storedata;
      d3.selectAll("path").style("fill", "red");
      svg2png();
  }


  window.onload = _ => {
      try {
          let svgSketch = SvgPenSketch.default;

          // Prep the svg element to be drawn on
          const canvas = new svgSketch(document.querySelector("svg"), { "stroke": "black", "stroke-width": "5px"});

          // Callbacks can be set for various events
          canvas.penDownCallback = (path, event) => {
              // Set a random color for the stroke
              let color = getRandomColor();
              // path.style.stroke = 'transparent';
              path.style.stroke = color;

              // Save the pointer location (0 -> 1)
              // input_storedata['_data'][event.offsetX][img_h - event.offsetY] = 1;

              // Console log the pointer location
              // console.log(`Pointer location = (${event.offsetX},${event.offsetY}) @ ${event.timeStamp}`);
          };
          canvas.eraserDownCallback = (removedPaths, event) => {
              // if (removedPaths.length > 0) {
              //   console.log("Removed strokes", removedPaths);
              // }
          }
          canvas.penUpCallback = updateStrokeAmnt;
          canvas.eraserUpCallback = updateStrokeAmnt;
      } catch (err) {
          // Display error text
          let textElement = document.querySelector("text:nth-child(2)");
          textElement.innerHTML = `Make sure you built the project for this demo to work`;
          textElement.setAttribute("font-style", "italic");

          // Update the color randomly
          setInterval(_ => {
              // console.log("test");
              textElement.style.fill = getRandomColor();
          }, 500);
      }
  }
</script>

<script>
  document.body.ondragstart = function() { return false; };

  $('.draw-svg').mousedown(function(event) {
    switch(event.which) {
      case 1:
        // Do nothing
        break;
      case 2:
        // Do nothing
        break;
      case 3:
        document.getElementsByClassName('draw-svg')[0].style.cursor = "not-allowed";
        break;
      default:
        // Do nothing
    }
  });

  $('.draw-svg').mouseup(function(event) {
    this.style.cursor = 'crosshair';
  })


  function resetDrawing () {
    d3.selectAll('path').remove();
    document.querySelector("#stroke-count").innerHTML = "0";
    document.getElementById("input-storedata").value = "skipped";
    d3.select("#hidden-canvas-container").selectAll("*").remove();
    // input_storedata = math.zeros(img_h, img_w);
  }
</script>

<script>
  function submitBtn () {
    let strokeAmnt = document.querySelectorAll("path").length;
    
    if (strokeAmnt < 1) {
      if (confirm('Are you sure you want to submit an empty entry?')) {
        // Save it!
        document.getElementById("form-reason").submit();
      } else {
        // Do nothing!
        return;
      }
    } else {
      document.getElementById("input-storedata").value = document.querySelector('#hidden-png').src;
      document.getElementById("form-reason").submit();
    }
  }
</script>

<style>
  .draw-div {
    height: {{drawing_pad_size[0]}}px;
  }

  .img_base {
    height: {{drawing_pad_size[0]}}px;
    width: {{drawing_pad_size[1]}}px;
  }

  .draw-svg {
    cursor: crosshair;
    height: {{drawing_pad_size[0]}}px;
    width: {{drawing_pad_size[1]}}px;
  }

  #hidden-canvas-container {
    display: none;
  }

  body {
    -moz-user-select:none;
    -webkit-user-select:none;
  }

  #verify-code {
    -moz-user-select: text;
    -webkit-user-select: text;
  }

  .top-msg-div {
    margin-left: 409px;
    margin-bottom: -12px;
  }

  .top-msg-div img {
    width: 20px;
    height: 20px;
  }

  .task-msg-div {
    margin-bottom: 20px;
  }

  .task-msg-div text {
    font-size: 12pt;
  }

  .task-big {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10px;
  }
</style>

{% endblock %}
